.product_info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}
.productDetails {
    margin: 15px 0;
}
.lists {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list {
    width: 60%;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    gap: 6px;
    border-radius: 6px;
}
.list .image {
    width: 50%;
}
.list .image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.list .info {
    width: 50%;
    padding: 6px
}
.info p {
    text-align: left;
}
@media (max-width: 768px) {
    .list {
        flex-direction: column;
        height: auto;
    }
    .list .image {
        width: 100%;
        height: 320px;
    }
    .list .image img {
        width: 100%;
    }
    .list .info {
        width: 100%;
    }
    .list .info .title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .info .desc {
        font-size: 12px;
    }
}